* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #212121;
  font-family: "Unkempt", cursive;
  font-weight: 400;
}

main {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  text-align: center;
}

header {
  background-color: #d32f2f;
  height: 400px;
  clip-path: ellipse(110% 100% at 50% 0%);
}

.topo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #7708085b;
  font-family: "Unkempt", cursive;
  font-weight: 650;
  letter-spacing: 3px;
}

.topo a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.75rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.menu a {
  text-decoration: none;
  color: #f0f0f0;
  padding: 1rem;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  padding: 1rem;
}

#intro p{
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#intro h1{
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

#intro img{
  height: auto;
  max-width: 250px;
}

.botoes{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botoes a{
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  font-weight: bold;
  font-family: system-ui, -apple-system, sans-serif;
}

.cardapio{
  color: #d32f2f;
  background-color: #f0f0f0;
}

.pedido{
  color: #f0f0f0;
  background-color: #388E3C;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card img {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 8px;
}

.card{
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px #1b4d3e26;
}

.card h3{
  color: #1b4d3e;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 1px dotted #005304;
}

.card p{
  margin-bottom: 0;
  color: #555555;
  font-size: 0.9rem;
  line-height: 1.4;
}

#localizacao {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding: 2rem 1rem;
  background-color: #f0f0f0;
  border-top: 3px solid #1b4d3e;
  border-bottom: 3px solid #1b4d3e;
  text-align: center;
}

#localizacao article {
  max-width: 600px;
}

#localizacao h2 {
  color: #1b4d3e;             /* Verde da marca */
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

#localizacao p {
  color: #222222;
  font-size: 1.1rem;
  line-height: 1.5;
}

footer{
    background-color: #d32f2f;
    color: #f0f0f0;
    height: 100px;
    clip-path: ellipse(110% 100% at 50% 100%);
    font-weight: 700;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

@media(min-width: 768px){
    .cards{
      grid-template-columns: repeat(3, 1fr);
    }
}